/*================================================*/
/*module*/
/*================================================*/
._container{
    max-width: 1110px;
    margin: auto;
    @include mw_xl{
        padding: 0 15px;
    }
    @include mw_lg{
        max-width: 690px;
    }
    @include mw_md{
        max-width: 345px;
    }
}
._logo{
    width: 121px;
    height: 55px;
}
._primary_btn{
    border-radius: 4px;
    color: #fff;
    background: #D54100;
    border: 1px solid #D5411A;
}
/*================================================*/
/*font*/
/*================================================*/
.fz-48{
    font-size: 48px;
    line-height: 72px;
}
.fz-40{
    font-size: 40px;
    line-height: 60px;
}
.fz-32{
    font-size: 32px;
    line-height: 48px;
}
.fz-28{
    font-size: 28px;
    line-height: 42px;
}
.fz-24{
    font-size: 24px;
    line-height: 36px;
}
.fz-20{
    font-size: 20px;
    line-height: 30px;
}
.fz-16{
    font-size: 16px;
    line-height: 24px;
}
.fz-14{
    font-size: 14px;
    line-height: 21px;
}
.fz-xl-48{
    @include mw_xl{
        font-size: 48px;
        line-height: 72px;
    }
}
.fz-xl-40{
    @include mw_xl{
        font-size: 40px;
        line-height: 60px;
    }
}
.fz-xl-32{
    @include mw_xl{
        font-size: 32px;
        line-height: 48px;
    }
}
.fz-xl-28{
    @include mw_xl{
        font-size: 28px;
        line-height: 42px;
    }
}
.fz-xl-24{
    @include mw_xl{
        font-size: 24px;
        line-height: 36px;
    }
}
.fz-xl-20{
    @include mw_xl{
        font-size: 20px;
        line-height: 30px;
    }
}
.fz-xl-16{
    @include mw_xl{
        font-size: 16px;
        line-height: 24px;
    }
}
.fz-xl-14{
    @include mw_xl{
        font-size: 14px;
        line-height: 21px;
    }
}
.fz-lg-48{
    @include mw_lg{
        font-size: 48px;
        line-height: 72px;
    }
}
.fz-lg-40{
    @include mw_lg{
        font-size: 40px;
        line-height: 60px;
    }
}
.fz-lg-32{
    @include mw_lg{
        font-size: 32px;
        line-height: 48px;
    }
}
.fz-lg-28{
    @include mw_lg{
        font-size: 28px;
        line-height: 42px;
    }
}
.fz-lg-24{
    @include mw_lg{
        font-size: 24px;
        line-height: 36px;
    }
}
.fz-lg-20{
    @include mw_lg{
        font-size: 20px;
        line-height: 30px;
    }
}
.fz-lg-16{
    @include mw_lg{
        font-size: 16px;
        line-height: 24px;
    }
}
.fz-lg-14{
    @include mw_lg{
        font-size: 14px;
        line-height: 21px;
    }
}
.fz-md-48{
    @include mw_md{
        font-size: 48px;
        line-height: 72px;
    }
}
.fz-md-40{
    @include mw_md{
        font-size: 40px;
        line-height: 60px;
    }
}
.fz-md-32{
    @include mw_md{
        font-size: 32px;
        line-height: 48px;
    }
}
.fz-md-28{
    @include mw_md{
        font-size: 28px;
        line-height: 42px;
    }
}
.fz-md-24{
    @include mw_md{
        font-size: 24px;
        line-height: 36px;
    }
}
.fz-md-20{
    @include mw_md{
        font-size: 20px;
        line-height: 30px;
    }
}
.fz-md-16{
    @include mw_md{
        font-size: 16px;
        line-height: 24px;
    }
}
.fz-md-14{
    @include mw_md{
        font-size: 14px;
        line-height: 21px;
    }
}
.fz-sm-48{
    @include mw_sm{
        font-size: 48px;
        line-height: 72px;
    }
}
.fz-sm-40{
    @include mw_sm{
        font-size: 40px;
        line-height: 60px;
    }
}
.fz-sm-32{
    @include mw_sm{
        font-size: 32px;
        line-height: 48px;
    }
}
.fz-sm-28{
    @include mw_sm{
        font-size: 28px;
        line-height: 42px;
    }
}
.fz-sm-24{
    @include mw_sm{
        font-size: 24px;
        line-height: 36px;
    }
}
.fz-sm-20{
    @include mw_sm{
        font-size: 20px;
        line-height: 30px;
    }
}
.fz-sm-16{
    @include mw_sm{
        font-size: 16px;
        line-height: 24px;
    }
}
.fz-sm-14{
    @include mw_sm{
        font-size: 14px;
        line-height: 21px;
    }
}
.fw-bold{
    font-weight: bold;
}
/*================================================*/
/*header*/
/*================================================*/
.header{
    ._container{
        @include d_flex(flex, nowrap, space-between, center);
        @include mw_md{
            justify-content: center;
            position: relative;
        }
    }
    ._logo{
        @include mw_md{
            margin: 4px 0;
        }
    }
    .menu_btn{
        display: none;
        @include mw_md{
            display: block;
            color: #F8B52E;
            @include pos_abs(0, 15px, 0, auto);
        }
        .material-icons{
            font-size: 48px;
        }
    }
    .nav{
        @include d_flex(flex, nowrap, flex-end, center);
        @include mw_md{
            display: none;
        }
        &__item{
            margin-left: 40px;
        }
    }
}
/*================================================*/
/*help*/
/*================================================*/
.help{
    background: #F0AD25;
    ._container{
        padding: 36px 0;
        @include mw_xl{
            padding: 36px 15px;
        }
    }
    &__sub_title{
        display: block;
        margin-top: 8px;
        margin-bottom: 16px;
    }
    &__input_box{
        width: 700px;
        height: 48px;
        @include d_flex(flex, nowrap, flex-start, center);
        border: 1px solid #CED4DA;
        border-radius: 4px;
        @include mw_md{
            width: 315px;
        }
    }
    &__input_area{
        width: calc(100% - 160px);
        height: 100%;
        border-radius: 4px 0 0 4px;
        padding-left: 12px;
    }
    &__input_btn{
        width: 160px;
        height: 100%;
        border-radius: 0 4px 4px 0;
    }
}
/*================================================*/
/*footer*/
/*================================================*/
.footer{
    ._container{
        @include d_flex(flex, wrap, space-between, flex-start);
        padding: 60px 0 28px;
        @include mw_xl{
            padding: 60px 15px 28px;
        }
        @include mw_md{
            padding: 8px 15px 24px;
        }
    }
    .list_title{
        margin-top: 13px;
        margin-bottom: 36px;
    }
    li{
        margin-bottom: 24px;
        @include mw_md{
            margin-bottom: 0;
        }
        &:not(._logo){
            @include mw_md{
                display: none;
            }
        }
    }
    &__bottom{
        width: 100%;
        margin-top: 84px;
        @include d_flex(flex, nowrap, space-between, center);
        @include mw_md{
            margin-top: 0;
        }
        .tel{
            @include d_flex(flex, nowrap, flex-start, center);
            @include mw_md{
                display: none;
            }
            .material-icons{
                font-size: 18px;
                margin-right: 11px;
            }
        }
    }
}
