@charset "UTF-8";
/*================================================*/
/*margin*/
/*================================================*/
/*================= > 1200=================*/
.m-half {
  margin: 4px;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 24px;
}

.m-4 {
  margin: 32px;
}

.m-5 {
  margin: 40px;
}

.m-6 {
  margin: 48px;
}

.m-7 {
  margin: 56px;
}

.m-8 {
  margin: 64px;
}

.m-9 {
  margin: 72px;
}

.mt-half,
.my-half {
  margin-top: 4px;
}

.mt-1,
.my-1 {
  margin-top: 8px;
}

.mt-2,
.my-2 {
  margin-top: 16px;
}

.mt-3,
.my-3 {
  margin-top: 24px;
}

.mt-4,
.my-4 {
  margin-top: 32px;
}

.mt-5,
.my-5 {
  margin-top: 40px;
}

.mt-6,
.my-6 {
  margin-top: 48px;
}

.mt-7,
.my-7 {
  margin-top: 56px;
}

.mt-8,
.my-8 {
  margin-top: 64px;
}

.mt-9,
.my-9 {
  margin-top: 72px;
}

.mr-half,
.mx-half {
  margin-right: 4px;
}

.mr-1,
.mx-1 {
  margin-right: 8px;
}

.mr-2,
.mx-2 {
  margin-right: 16px;
}

.mr-3,
.mx-3 {
  margin-right: 24px;
}

.mr-4,
.mx-4 {
  margin-right: 32px;
}

.mr-5,
.mx-5 {
  margin-right: 40px;
}

.mr-6,
.mx-6 {
  margin-right: 48px;
}

.mr-7,
.mx-7 {
  margin-right: 56px;
}

.mr-8,
.mx-8 {
  margin-right: 64px;
}

.mr-9,
.mx-9 {
  margin-right: 72px;
}

.mb-half,
.my-half {
  margin-bottom: 4px;
}

.mb-1,
.my-1 {
  margin-bottom: 8px;
}

.mb-2,
.my-2 {
  margin-bottom: 16px;
}

.mb-3,
.my-3 {
  margin-bottom: 24px;
}

.mb-4,
.my-4 {
  margin-bottom: 32px;
}

.mb-5,
.my-5 {
  margin-bottom: 40px;
}

.mb-6,
.my-6 {
  margin-bottom: 48px;
}

.mb-7,
.my-7 {
  margin-bottom: 56px;
}

.mb-8,
.my-8 {
  margin-bottom: 64px;
}

.mb-9,
.my-9 {
  margin-bottom: 72px;
}

.ml-half,
.mx-half {
  margin-left: 4px;
}

.ml-1,
.mx-1 {
  margin-left: 8px;
}

.ml-2,
.mx-2 {
  margin-left: 16px;
}

.ml-3,
.mx-3 {
  margin-left: 24px;
}

.ml-4,
.mx-4 {
  margin-left: 32px;
}

.ml-5,
.mx-5 {
  margin-left: 40px;
}

.ml-6,
.mx-6 {
  margin-left: 48px;
}

.ml-7,
.mx-7 {
  margin-left: 56px;
}

.ml-8,
.mx-8 {
  margin-left: 64px;
}

.ml-9,
.mx-9 {
  margin-left: 72px;
}

/*================= < 1200=================*/
@media screen and (max-width: 1199px) {
  .m-xl-0 {
    margin: 0px;
  }
}

@media screen and (max-width: 1199px) {
  .m-xl-half {
    margin: 4px;
  }
}

@media screen and (max-width: 1199px) {
  .m-xl-1 {
    margin: 8px;
  }
}

@media screen and (max-width: 1199px) {
  .m-xl-2 {
    margin: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .m-xl-3 {
    margin: 24px;
  }
}

@media screen and (max-width: 1199px) {
  .m-xl-4 {
    margin: 32px;
  }
}

@media screen and (max-width: 1199px) {
  .m-xl-5 {
    margin: 40px;
  }
}

@media screen and (max-width: 1199px) {
  .m-xl-6 {
    margin: 48px;
  }
}

@media screen and (max-width: 1199px) {
  .m-xl-7 {
    margin: 56px;
  }
}

@media screen and (max-width: 1199px) {
  .m-xl-8 {
    margin: 64px;
  }
}

@media screen and (max-width: 1199px) {
  .m-xl-9 {
    margin: 72px;
  }
}

@media screen and (max-width: 1199px) {
  .mt-xl-0,
  .my-xl-0 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 1199px) {
  .mt-xl-half,
  .my-xl-half {
    margin-top: 4px;
  }
}

@media screen and (max-width: 1199px) {
  .mt-xl-1,
  .my-xl-1 {
    margin-top: 8px;
  }
}

@media screen and (max-width: 1199px) {
  .mt-xl-2,
  .my-xl-2 {
    margin-top: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .mt-xl-3,
  .my-xl-3 {
    margin-top: 24px;
  }
}

@media screen and (max-width: 1199px) {
  .mt-xl-4,
  .my-xl-4 {
    margin-top: 32px;
  }
}

@media screen and (max-width: 1199px) {
  .mt-xl-5,
  .my-xl-5 {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1199px) {
  .mt-xl-6,
  .my-xl-6 {
    margin-top: 48px;
  }
}

@media screen and (max-width: 1199px) {
  .mt-xl-7,
  .my-xl-7 {
    margin-top: 56px;
  }
}

@media screen and (max-width: 1199px) {
  .mt-xl-8,
  .my-xl-8 {
    margin-top: 64px;
  }
}

@media screen and (max-width: 1199px) {
  .mt-xl-9,
  .my-xl-9 {
    margin-top: 72px;
  }
}

@media screen and (max-width: 1199px) {
  .mr-xl-0,
  .mx-xl-0 {
    margin-right: 0px;
  }
}

@media screen and (max-width: 1199px) {
  .mr-xl-half,
  .mx-xl-half {
    margin-right: 4px;
  }
}

@media screen and (max-width: 1199px) {
  .mr-xl-1,
  .mx-xl-1 {
    margin-right: 8px;
  }
}

@media screen and (max-width: 1199px) {
  .mr-xl-2,
  .mx-xl-2 {
    margin-right: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .mr-xl-3,
  .mx-xl-3 {
    margin-right: 24px;
  }
}

@media screen and (max-width: 1199px) {
  .mr-xl-4,
  .mx-xl-4 {
    margin-right: 32px;
  }
}

@media screen and (max-width: 1199px) {
  .mr-xl-5,
  .mx-xl-5 {
    margin-right: 40px;
  }
}

@media screen and (max-width: 1199px) {
  .mr-xl-6,
  .mx-xl-6 {
    margin-right: 48px;
  }
}

@media screen and (max-width: 1199px) {
  .mr-xl-7,
  .mx-xl-7 {
    margin-right: 56px;
  }
}

@media screen and (max-width: 1199px) {
  .mr-xl-8,
  .mx-xl-8 {
    margin-right: 64px;
  }
}

@media screen and (max-width: 1199px) {
  .mr-xl-9,
  .mx-xl-9 {
    margin-right: 72px;
  }
}

@media screen and (max-width: 1199px) {
  .mb-xl-0,
  .my-xl-0 {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 1199px) {
  .mb-xl-half,
  .my-xl-half {
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 1199px) {
  .mb-xl-1,
  .my-xl-1 {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 1199px) {
  .mb-xl-2,
  .my-xl-2 {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .mb-xl-3,
  .my-xl-3 {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 1199px) {
  .mb-xl-4,
  .my-xl-4 {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 1199px) {
  .mb-xl-5,
  .my-xl-5 {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1199px) {
  .mb-xl-6,
  .my-xl-6 {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 1199px) {
  .mb-xl-7,
  .my-xl-7 {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 1199px) {
  .mb-xl-8,
  .my-xl-8 {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 1199px) {
  .mb-xl-9,
  .my-xl-9 {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 1199px) {
  .ml-xl-0,
  .mx-xl-0 {
    margin-left: 0px;
  }
}

@media screen and (max-width: 1199px) {
  .ml-xl-half,
  .mx-xl-half {
    margin-left: 4px;
  }
}

@media screen and (max-width: 1199px) {
  .ml-xl-1,
  .mx-xl-1 {
    margin-left: 8px;
  }
}

@media screen and (max-width: 1199px) {
  .ml-xl-2,
  .mx-xl-2 {
    margin-left: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .ml-xl-3,
  .mx-xl-3 {
    margin-left: 24px;
  }
}

@media screen and (max-width: 1199px) {
  .ml-xl-4,
  .mx-xl-4 {
    margin-left: 32px;
  }
}

@media screen and (max-width: 1199px) {
  .ml-xl-5,
  .mx-xl-5 {
    margin-left: 40px;
  }
}

@media screen and (max-width: 1199px) {
  .ml-xl-6,
  .mx-xl-6 {
    margin-left: 48px;
  }
}

@media screen and (max-width: 1199px) {
  .ml-xl-7,
  .mx-xl-7 {
    margin-left: 56px;
  }
}

@media screen and (max-width: 1199px) {
  .ml-xl-8,
  .mx-xl-8 {
    margin-left: 64px;
  }
}

@media screen and (max-width: 1199px) {
  .ml-xl-9,
  .mx-xl-9 {
    margin-left: 72px;
  }
}

/*================= > 992=================*/
@media screen and (max-width: 991px) {
  .m-lg-0 {
    margin: 0px;
  }
}

@media screen and (max-width: 991px) {
  .m-lg-half {
    margin: 4px;
  }
}

@media screen and (max-width: 991px) {
  .m-lg-1 {
    margin: 8px;
  }
}

@media screen and (max-width: 991px) {
  .m-lg-2 {
    margin: 16px;
  }
}

@media screen and (max-width: 991px) {
  .m-lg-3 {
    margin: 24px;
  }
}

@media screen and (max-width: 991px) {
  .m-lg-4 {
    margin: 32px;
  }
}

@media screen and (max-width: 991px) {
  .m-lg-5 {
    margin: 40px;
  }
}

@media screen and (max-width: 991px) {
  .m-lg-6 {
    margin: 48px;
  }
}

@media screen and (max-width: 991px) {
  .m-lg-7 {
    margin: 56px;
  }
}

@media screen and (max-width: 991px) {
  .m-lg-8 {
    margin: 64px;
  }
}

@media screen and (max-width: 991px) {
  .m-lg-9 {
    margin: 72px;
  }
}

@media screen and (max-width: 991px) {
  .mt-lg-0,
  .my-lg-0 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 991px) {
  .mt-lg-half,
  .my-lg-half {
    margin-top: 4px;
  }
}

@media screen and (max-width: 991px) {
  .mt-lg-1,
  .my-lg-1 {
    margin-top: 8px;
  }
}

@media screen and (max-width: 991px) {
  .mt-lg-2,
  .my-lg-2 {
    margin-top: 16px;
  }
}

@media screen and (max-width: 991px) {
  .mt-lg-3,
  .my-lg-3 {
    margin-top: 24px;
  }
}

@media screen and (max-width: 991px) {
  .mt-lg-4,
  .my-lg-4 {
    margin-top: 32px;
  }
}

@media screen and (max-width: 991px) {
  .mt-lg-5,
  .my-lg-5 {
    margin-top: 40px;
  }
}

@media screen and (max-width: 991px) {
  .mt-lg-6,
  .my-lg-6 {
    margin-top: 48px;
  }
}

@media screen and (max-width: 991px) {
  .mt-lg-7,
  .my-lg-7 {
    margin-top: 56px;
  }
}

@media screen and (max-width: 991px) {
  .mt-lg-8,
  .my-lg-8 {
    margin-top: 64px;
  }
}

@media screen and (max-width: 991px) {
  .mt-lg-9,
  .my-lg-9 {
    margin-top: 72px;
  }
}

@media screen and (max-width: 991px) {
  .mr-lg-0,
  .mx-lg-0 {
    margin-right: 0px;
  }
}

@media screen and (max-width: 991px) {
  .mr-lg-half,
  .mx-lg-half {
    margin-right: 4px;
  }
}

@media screen and (max-width: 991px) {
  .mr-lg-1,
  .mx-lg-1 {
    margin-right: 8px;
  }
}

@media screen and (max-width: 991px) {
  .mr-lg-2,
  .mx-lg-2 {
    margin-right: 16px;
  }
}

@media screen and (max-width: 991px) {
  .mr-lg-3,
  .mx-lg-3 {
    margin-right: 24px;
  }
}

@media screen and (max-width: 991px) {
  .mr-lg-4,
  .mx-lg-4 {
    margin-right: 32px;
  }
}

@media screen and (max-width: 991px) {
  .mr-lg-5,
  .mx-lg-5 {
    margin-right: 40px;
  }
}

@media screen and (max-width: 991px) {
  .mr-lg-6,
  .mx-lg-6 {
    margin-right: 48px;
  }
}

@media screen and (max-width: 991px) {
  .mr-lg-7,
  .mx-lg-7 {
    margin-right: 56px;
  }
}

@media screen and (max-width: 991px) {
  .mr-lg-8,
  .mx-lg-8 {
    margin-right: 64px;
  }
}

@media screen and (max-width: 991px) {
  .mr-lg-9,
  .mx-lg-9 {
    margin-right: 72px;
  }
}

@media screen and (max-width: 991px) {
  .mb-lg-0,
  .my-lg-0 {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 991px) {
  .mb-lg-half,
  .my-lg-half {
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 991px) {
  .mb-lg-1,
  .my-lg-1 {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 991px) {
  .mb-lg-2,
  .my-lg-2 {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 991px) {
  .mb-lg-3,
  .my-lg-3 {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 991px) {
  .mb-lg-4,
  .my-lg-4 {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 991px) {
  .mb-lg-5,
  .my-lg-5 {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 991px) {
  .mb-lg-6,
  .my-lg-6 {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 991px) {
  .mb-lg-7,
  .my-lg-7 {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 991px) {
  .mb-lg-8,
  .my-lg-8 {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 991px) {
  .mb-lg-9,
  .my-lg-9 {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 991px) {
  .ml-lg-0,
  .mx-lg-0 {
    margin-left: 0px;
  }
}

@media screen and (max-width: 991px) {
  .ml-lg-half,
  .mx-lg-half {
    margin-left: 4px;
  }
}

@media screen and (max-width: 991px) {
  .ml-lg-1,
  .mx-lg-1 {
    margin-left: 8px;
  }
}

@media screen and (max-width: 991px) {
  .ml-lg-2,
  .mx-lg-2 {
    margin-left: 16px;
  }
}

@media screen and (max-width: 991px) {
  .ml-lg-3,
  .mx-lg-3 {
    margin-left: 24px;
  }
}

@media screen and (max-width: 991px) {
  .ml-lg-4,
  .mx-lg-4 {
    margin-left: 32px;
  }
}

@media screen and (max-width: 991px) {
  .ml-lg-5,
  .mx-lg-5 {
    margin-left: 40px;
  }
}

@media screen and (max-width: 991px) {
  .ml-lg-6,
  .mx-lg-6 {
    margin-left: 48px;
  }
}

@media screen and (max-width: 991px) {
  .ml-lg-7,
  .mx-lg-7 {
    margin-left: 56px;
  }
}

@media screen and (max-width: 991px) {
  .ml-lg-8,
  .mx-lg-8 {
    margin-left: 64px;
  }
}

@media screen and (max-width: 991px) {
  .ml-lg-9,
  .mx-lg-9 {
    margin-left: 72px;
  }
}

/*================= < 768=================*/
@media screen and (max-width: 767px) {
  .m-md-0 {
    margin: 0px;
  }
}

@media screen and (max-width: 767px) {
  .m-md-half {
    margin: 4px;
  }
}

@media screen and (max-width: 767px) {
  .m-md-1 {
    margin: 8px;
  }
}

@media screen and (max-width: 767px) {
  .m-md-2 {
    margin: 16px;
  }
}

@media screen and (max-width: 767px) {
  .m-md-3 {
    margin: 24px;
  }
}

@media screen and (max-width: 767px) {
  .m-md-4 {
    margin: 32px;
  }
}

@media screen and (max-width: 767px) {
  .m-md-5 {
    margin: 40px;
  }
}

@media screen and (max-width: 767px) {
  .m-md-6 {
    margin: 48px;
  }
}

@media screen and (max-width: 767px) {
  .m-md-7 {
    margin: 56px;
  }
}

@media screen and (max-width: 767px) {
  .m-md-8 {
    margin: 64px;
  }
}

@media screen and (max-width: 767px) {
  .m-md-9 {
    margin: 72px;
  }
}

@media screen and (max-width: 767px) {
  .mt-md-0,
  .my-md-0 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .mt-md-half,
  .my-md-half {
    margin-top: 4px;
  }
}

@media screen and (max-width: 767px) {
  .mt-md-1,
  .my-md-1 {
    margin-top: 8px;
  }
}

@media screen and (max-width: 767px) {
  .mt-md-2,
  .my-md-2 {
    margin-top: 16px;
  }
}

@media screen and (max-width: 767px) {
  .mt-md-3,
  .my-md-3 {
    margin-top: 24px;
  }
}

@media screen and (max-width: 767px) {
  .mt-md-4,
  .my-md-4 {
    margin-top: 32px;
  }
}

@media screen and (max-width: 767px) {
  .mt-md-5,
  .my-md-5 {
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .mt-md-6,
  .my-md-6 {
    margin-top: 48px;
  }
}

@media screen and (max-width: 767px) {
  .mt-md-7,
  .my-md-7 {
    margin-top: 56px;
  }
}

@media screen and (max-width: 767px) {
  .mt-md-8,
  .my-md-8 {
    margin-top: 64px;
  }
}

@media screen and (max-width: 767px) {
  .mt-md-9,
  .my-md-9 {
    margin-top: 72px;
  }
}

@media screen and (max-width: 767px) {
  .mr-md-0,
  .mx-md-0 {
    margin-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .mr-md-half,
  .mx-md-half {
    margin-right: 4px;
  }
}

@media screen and (max-width: 767px) {
  .mr-md-1,
  .mx-md-1 {
    margin-right: 8px;
  }
}

@media screen and (max-width: 767px) {
  .mr-md-2,
  .mx-md-2 {
    margin-right: 16px;
  }
}

@media screen and (max-width: 767px) {
  .mr-md-3,
  .mx-md-3 {
    margin-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .mr-md-4,
  .mx-md-4 {
    margin-right: 32px;
  }
}

@media screen and (max-width: 767px) {
  .mr-md-5,
  .mx-md-5 {
    margin-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .mr-md-6,
  .mx-md-6 {
    margin-right: 48px;
  }
}

@media screen and (max-width: 767px) {
  .mr-md-7,
  .mx-md-7 {
    margin-right: 56px;
  }
}

@media screen and (max-width: 767px) {
  .mr-md-8,
  .mx-md-8 {
    margin-right: 64px;
  }
}

@media screen and (max-width: 767px) {
  .mr-md-9,
  .mx-md-9 {
    margin-right: 72px;
  }
}

@media screen and (max-width: 767px) {
  .mb-md-0,
  .my-md-0 {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .mb-md-half,
  .my-md-half {
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 767px) {
  .mb-md-1,
  .my-md-1 {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 767px) {
  .mb-md-2,
  .my-md-2 {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .mb-md-3,
  .my-md-3 {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  .mb-md-4,
  .my-md-4 {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .mb-md-5,
  .my-md-5 {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .mb-md-6,
  .my-md-6 {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 767px) {
  .mb-md-7,
  .my-md-7 {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .mb-md-8,
  .my-md-8 {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 767px) {
  .mb-md-9,
  .my-md-9 {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 767px) {
  .ml-md-0,
  .mx-md-0 {
    margin-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .ml-md-half,
  .mx-md-half {
    margin-left: 4px;
  }
}

@media screen and (max-width: 767px) {
  .ml-md-1,
  .mx-md-1 {
    margin-left: 8px;
  }
}

@media screen and (max-width: 767px) {
  .ml-md-2,
  .mx-md-2 {
    margin-left: 16px;
  }
}

@media screen and (max-width: 767px) {
  .ml-md-3,
  .mx-md-3 {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .ml-md-4,
  .mx-md-4 {
    margin-left: 32px;
  }
}

@media screen and (max-width: 767px) {
  .ml-md-5,
  .mx-md-5 {
    margin-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .ml-md-6,
  .mx-md-6 {
    margin-left: 48px;
  }
}

@media screen and (max-width: 767px) {
  .ml-md-7,
  .mx-md-7 {
    margin-left: 56px;
  }
}

@media screen and (max-width: 767px) {
  .ml-md-8,
  .mx-md-8 {
    margin-left: 64px;
  }
}

@media screen and (max-width: 767px) {
  .ml-md-9,
  .mx-md-9 {
    margin-left: 72px;
  }
}

/*================= < 576=================*/
@media screen and (max-width: 575px) {
  .m-sm-0 {
    margin: 0px;
  }
}

@media screen and (max-width: 575px) {
  .m-sm-half {
    margin: 4px;
  }
}

@media screen and (max-width: 575px) {
  .m-sm-1 {
    margin: 8px;
  }
}

@media screen and (max-width: 575px) {
  .m-sm-2 {
    margin: 16px;
  }
}

@media screen and (max-width: 575px) {
  .m-sm-3 {
    margin: 24px;
  }
}

@media screen and (max-width: 575px) {
  .m-sm-4 {
    margin: 32px;
  }
}

@media screen and (max-width: 575px) {
  .m-sm-5 {
    margin: 40px;
  }
}

@media screen and (max-width: 575px) {
  .m-sm-6 {
    margin: 48px;
  }
}

@media screen and (max-width: 575px) {
  .m-sm-7 {
    margin: 56px;
  }
}

@media screen and (max-width: 575px) {
  .m-sm-8 {
    margin: 64px;
  }
}

@media screen and (max-width: 575px) {
  .m-sm-9 {
    margin: 72px;
  }
}

@media screen and (max-width: 575px) {
  .mt-sm-0,
  .my-sm-0 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 575px) {
  .mt-sm-half,
  .my-sm-half {
    margin-top: 4px;
  }
}

@media screen and (max-width: 575px) {
  .mt-sm-1,
  .my-sm-1 {
    margin-top: 8px;
  }
}

@media screen and (max-width: 575px) {
  .mt-sm-2,
  .my-sm-2 {
    margin-top: 16px;
  }
}

@media screen and (max-width: 575px) {
  .mt-sm-3,
  .my-sm-3 {
    margin-top: 24px;
  }
}

@media screen and (max-width: 575px) {
  .mt-sm-4,
  .my-sm-4 {
    margin-top: 32px;
  }
}

@media screen and (max-width: 575px) {
  .mt-sm-5,
  .my-sm-5 {
    margin-top: 40px;
  }
}

@media screen and (max-width: 575px) {
  .mt-sm-6,
  .my-sm-6 {
    margin-top: 48px;
  }
}

@media screen and (max-width: 575px) {
  .mt-sm-7,
  .my-sm-7 {
    margin-top: 56px;
  }
}

@media screen and (max-width: 575px) {
  .mt-sm-8,
  .my-sm-8 {
    margin-top: 64px;
  }
}

@media screen and (max-width: 575px) {
  .mt-sm-9,
  .my-sm-9 {
    margin-top: 72px;
  }
}

@media screen and (max-width: 575px) {
  .mr-sm-0,
  .mx-sm-0 {
    margin-right: 0px;
  }
}

@media screen and (max-width: 575px) {
  .mr-sm-half,
  .mx-sm-half {
    margin-right: 4px;
  }
}

@media screen and (max-width: 575px) {
  .mr-sm-1,
  .mx-sm-1 {
    margin-right: 8px;
  }
}

@media screen and (max-width: 575px) {
  .mr-sm-2,
  .mx-sm-2 {
    margin-right: 16px;
  }
}

@media screen and (max-width: 575px) {
  .mr-sm-3,
  .mx-sm-3 {
    margin-right: 24px;
  }
}

@media screen and (max-width: 575px) {
  .mr-sm-4,
  .mx-sm-4 {
    margin-right: 32px;
  }
}

@media screen and (max-width: 575px) {
  .mr-sm-5,
  .mx-sm-5 {
    margin-right: 40px;
  }
}

@media screen and (max-width: 575px) {
  .mr-sm-6,
  .mx-sm-6 {
    margin-right: 48px;
  }
}

@media screen and (max-width: 575px) {
  .mr-sm-7,
  .mx-sm-7 {
    margin-right: 56px;
  }
}

@media screen and (max-width: 575px) {
  .mr-sm-8,
  .mx-sm-8 {
    margin-right: 64px;
  }
}

@media screen and (max-width: 575px) {
  .mr-sm-9,
  .mx-sm-9 {
    margin-right: 72px;
  }
}

@media screen and (max-width: 575px) {
  .mb-sm-0,
  .my-sm-0 {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 575px) {
  .mb-sm-half,
  .my-sm-half {
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 575px) {
  .mb-sm-1,
  .my-sm-1 {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 575px) {
  .mb-sm-2,
  .my-sm-2 {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 575px) {
  .mb-sm-3,
  .my-sm-3 {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 575px) {
  .mb-sm-4,
  .my-sm-4 {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 575px) {
  .mb-sm-5,
  .my-sm-5 {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 575px) {
  .mb-sm-6,
  .my-sm-6 {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 575px) {
  .mb-sm-7,
  .my-sm-7 {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 575px) {
  .mb-sm-8,
  .my-sm-8 {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 575px) {
  .mb-sm-9,
  .my-sm-9 {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 575px) {
  .ml-sm-0,
  .mx-sm-0 {
    margin-left: 0px;
  }
}

@media screen and (max-width: 575px) {
  .ml-sm-half,
  .mx-sm-half {
    margin-left: 4px;
  }
}

@media screen and (max-width: 575px) {
  .ml-sm-1,
  .mx-sm-1 {
    margin-left: 8px;
  }
}

@media screen and (max-width: 575px) {
  .ml-sm-2,
  .mx-sm-2 {
    margin-left: 16px;
  }
}

@media screen and (max-width: 575px) {
  .ml-sm-3,
  .mx-sm-3 {
    margin-left: 24px;
  }
}

@media screen and (max-width: 575px) {
  .ml-sm-4,
  .mx-sm-4 {
    margin-left: 32px;
  }
}

@media screen and (max-width: 575px) {
  .ml-sm-5,
  .mx-sm-5 {
    margin-left: 40px;
  }
}

@media screen and (max-width: 575px) {
  .ml-sm-6,
  .mx-sm-6 {
    margin-left: 48px;
  }
}

@media screen and (max-width: 575px) {
  .ml-sm-7,
  .mx-sm-7 {
    margin-left: 56px;
  }
}

@media screen and (max-width: 575px) {
  .ml-sm-8,
  .mx-sm-8 {
    margin-left: 64px;
  }
}

@media screen and (max-width: 575px) {
  .ml-sm-9,
  .mx-sm-9 {
    margin-left: 72px;
  }
}

/*================================================*/
/*font*/
/*================================================*/
h2 {
  font-size: 32px;
  line-height: 38px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
}

.fz-12 {
  font-size: 12px;
  line-height: 18px;
}

.fz-14 {
  font-size: 14px;
  line-height: 20px;
}

.fz-16 {
  font-size: 16px;
  line-height: 22px;
}

.fz-18 {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
.font-bold {
  font-weight: bold;
}

.font-light {
  font-weight: lighter;
}

.primary_txt {
  color: #6C51E2;
}

.sub_txt {
  color: rgba(0, 0, 0, 0.6);
}

.strike_txt {
  text-decoration: line-through;
}

.brackets:before {
  content: "(";
}

.brackets:after {
  content: ")";
}

/*================================================*/
/*module*/
/*================================================*/
.container {
  max-width: 1110px;
  margin: auto;
}

@media screen and (max-width: 1199px) {
  .container {
    padding: 0 15px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 690px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    max-width: 330px;
    padding: 0;
  }
}

/*================================================*/
/*header*/
/*================================================*/
.header .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  width: 96px;
  margin: auto;
}

.header .menu_btn {
  display: none;
}

@media screen and (max-width: 575px) {
  .header .menu_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 36px;
    height: 36px;
  }
}

.header .menu_icon {
  font-size: 18px;
}

.header .header_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 575px) {
  .header .menu_box {
    position: absolute;
    top: 0;
    bottom: auto;
    right: 100%;
    left: auto;
    display: none;
  }
}

.lang_list {
  position: relative;
}

.lang_list li {
  cursor: pointer;
}

.lang_list .display_item {
  width: 46px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lang_list .display_item .lang_icon {
  font-size: 20px;
}

.lang_list .selection_list {
  position: absolute;
  top: 100%;
  bottom: auto;
  right: 0;
  left: auto;
  width: 200%;
  display: none;
}

.lang_list .selection_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 24px;
  text-align: center;
  border: 1px solid #000;
}

.lang_list .selection_list.active {
  display: block;
}

/*================================================*/
/*search*/
/*================================================*/
.search {
  background: #F1F0F8;
}

.search .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search .back_btn {
  display: none;
}

@media screen and (max-width: 575px) {
  .search .back_btn {
    display: block;
    width: 24px;
    height: 24px;
  }
}

.search_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc((100% - 150px) / 3);
  background: #fff;
  border-radius: 4px;
}

@media screen and (max-width: 575px) {
  .search_item {
    width: auto;
    background: transparent;
  }
}

@media screen and (max-width: 575px) {
  .search_item .material-icons {
    display: none;
  }
}

.search_item .date_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 575px) {
  .search_item + .search_item {
    padding-left: 20px;
  }
}

@media screen and (max-width: 575px) {
  .search_item + .search_item:before {
    content: '・';
    width: 10px;
    height: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: auto;
    left: 5px;
    margin: auto;
  }
}

.search_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.search_box_title {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 575px) {
  .search_box_title {
    display: none;
  }
}

.search_btn {
  color: #fff;
  border-radius: 3px;
  background: #6C51E2;
  width: 126px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding: 17px 32px;
}

@media screen and (max-width: 575px) {
  .search_btn {
    display: none;
  }
}

.desti_input {
  width: 100%;
  height: 50%;
}

.desti_input:focus + .desti_list {
  display: block;
}

@media screen and (max-width: 575px) {
  .desti_input {
    display: none;
  }
}

.desti.focused .desti_list {
  display: block;
}

.desti_list {
  position: absolute;
  top: calc(100% + 5px);
  bottom: auto;
  right: auto;
  left: 0;
  width: 100%;
  background: #fff;
  display: none;
}

.desti_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desti_txt_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desti_txt_box .city_txt,
.desti_txt_box .country_txt {
  width: 100%;
}

.desti .search_box_txt {
  display: none;
}

@media screen and (max-width: 575px) {
  .desti .search_box_txt {
    display: block;
  }
}

/*================================================*/
/*scroll_content*/
/*================================================*/
.scroll_content {
  height: calc(100% - 176px);
  overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 767px) {
  .scroll_content {
    height: calc(100% - 160px);
  }
}

@media screen and (max-width: 575px) {
  .scroll_content {
    height: calc(100% - 112px);
  }
}

@media screen and (max-width: 767px) {
  .photo {
    overflow: hidden;
  }
}

.photo_large_box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 435px;
}

@media screen and (max-width: 991px) {
  .photo_large_box {
    height: 268px;
  }
}

@media screen and (max-width: 767px) {
  .photo_large_box {
    height: 247px;
  }
}

.photo_large_box .prev_btn,
.photo_large_box .next_btn {
  display: none;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: auto;
  left: 15px;
  margin: auto;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .photo_large_box .prev_btn,
  .photo_large_box .next_btn {
    display: block;
  }
}

.photo_large_box .next_btn {
  right: 15px;
  left: auto;
}

.photo .room_photo {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .photo .room_photo {
    border-radius: 0;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

.photo .room_photo.first {
  width: calc(58% - 4px);
  background: url(https://hexschool.github.io/webLayoutTraining1st/week8/Rachada1.jpg) no-repeat center/cover;
}

@media screen and (max-width: 991px) {
  .photo .room_photo.first {
    width: calc(58% - 2px);
  }
}

@media screen and (max-width: 767px) {
  .photo .room_photo.first {
    width: 100%;
  }
}

.photo_mid_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(42% - 4px);
}

@media screen and (max-width: 991px) {
  .photo_mid_box {
    width: calc(42% - 2px);
  }
}

@media screen and (max-width: 767px) {
  .photo_mid_box {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.photo_mid_box .second {
  height: calc(50% - 4px);
  background: url(https://hexschool.github.io/webLayoutTraining1st/week8/Rachada2.jpg) no-repeat center/cover;
}

@media screen and (max-width: 767px) {
  .photo_mid_box .second {
    height: 100%;
  }
}

.photo_small_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: calc(50% - 4px);
}

@media screen and (max-width: 767px) {
  .photo_small_box {
    height: 100%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

.photo_small_box .third {
  width: calc(47% - 4px);
  background: url(https://hexschool.github.io/webLayoutTraining1st/week8/Rachada3.jpg) no-repeat center/cover;
}

@media screen and (max-width: 991px) {
  .photo_small_box .third {
    width: calc(47% - 2px);
  }
}

@media screen and (max-width: 767px) {
  .photo_small_box .third {
    width: 100%;
  }
}

.photo_small_box .fourth {
  width: calc(53% - 4px);
  height: calc(100% - 62px);
  background: url(https://hexschool.github.io/webLayoutTraining1st/week8/Rachada4.jpg) no-repeat center/cover;
}

@media screen and (max-width: 991px) {
  .photo_small_box .fourth {
    width: calc(53% - 2px);
    height: calc(100% - 38px);
  }
}

@media screen and (max-width: 767px) {
  .photo_small_box .fourth {
    width: 100%;
    height: 100%;
  }
}

.photo_small_box .show_btn {
  padding: 16px 0;
  font-size: 16px;
  color: #fff;
  background: #000;
  border-radius: 4px;
}

@media screen and (max-width: 991px) {
  .photo_small_box .show_btn {
    padding: 8px 0;
    font-size: 13px;
  }
}

@media screen and (max-width: 767px) {
  .photo_small_box .show_btn {
    display: none;
  }
}

.intro_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .intro_title h2 {
    width: 100%;
  }
}

.intro .comment_point {
  padding-left: 4px;
}

.intro_address {
  display: block;
  color: #6C51E2;
}

.intro_content {
  max-width: 635px;
}

@media screen and (max-width: 991px) {
  .intro_content {
    max-width: 510px;
  }
}

.selection .filter_list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media screen and (max-width: 767px) {
  .selection .filter_list {
    display: none;
  }
}

.selection .filter_list_item {
  padding: 8px 16px;
  background: #F1F0F8;
}

.selection .filter .edit_btn {
  color: #6C51E2;
  border-radius: 3px;
  border: 1px solid #6C51E2;
  background: transparent;
  border: 0;
}

@media screen and (max-width: 767px) {
  .selection .filter .edit_btn {
    display: none;
  }
}

.room_info {
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.room_info_align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.room_info .type {
  width: 78%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.room_info .sleeps {
  width: 22%;
}

.room_amount {
  width: 34%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.room_amount .price {
  width: 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.room_amount .rooms {
  width: 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.room_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 8px;
  border-bottom: 1px solid #F1F0F8;
}

@media screen and (max-width: 767px) {
  .room_title {
    display: none;
  }
}

.room_item {
  padding-top: 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid #F1F0F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .room_item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.room_item .room_info {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 767px) {
  .room_item .room_info {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 150px;
  }
}

.room_item .room_info_img {
  position: relative;
  width: 255px;
  height: 175px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  border-radius: 4px 0 0 4px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 991px) {
  .room_item .room_info_img {
    width: 150px;
    height: 150px;
  }
}

.room_item .room_info_facility {
  width: calc(78% - 255px);
}

@media screen and (max-width: 991px) {
  .room_item .room_info_facility {
    width: calc(78% - 166px);
  }
}

@media screen and (max-width: 767px) {
  .room_item .room_info_facility {
    width: calc(100% - 166px);
  }
}

.room_item .room_info_facility .facility_list {
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

@media screen and (max-width: 991px) {
  .room_item .room_info_facility .facility_list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    width: 160px;
  }
}

.room_item .room_info_facility .facility_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

@media screen and (max-width: 991px) {
  .room_item .room_info_facility .facility_txt {
    display: none;
  }
}

.room_item .room_info_capacity {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .room_item .room_info_capacity {
    width: calc(100% - 166px);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .room_item .room_amount {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    background: #F1F0F8;
    height: 57px;
  }
}

.room_item .room_amount_price {
  width: 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 767px) {
  .room_item .room_amount_price .per_txt {
    display: none;
  }
}

.room_item .room_amount_num {
  width: 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.room_item:last-child {
  border: 0;
}

/*================================================*/
/*subscribe*/
/*================================================*/
.subscribe {
  background: #F1F0F8;
}

.subscribe .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe_txt {
  font-family: Raleway;
}

@media screen and (max-width: 1199px) {
  .subscribe_txt {
    max-width: 175px;
    font-size: 24px;
    line-height: 36px;
  }
}

@media screen and (max-width: 575px) {
  .subscribe_txt {
    max-width: none;
  }
}

.subscribe_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe_input {
  width: 485px;
  background: #fff;
  border-radius: 3px 0 0 3px;
  padding-left: 21px;
}

@media screen and (max-width: 991px) {
  .subscribe_input {
    width: 300px;
  }
}

@media screen and (max-width: 767px) {
  .subscribe_input {
    width: 210px;
  }
}

.subscribe_btn {
  color: #fff;
  border-radius: 3px;
  background: #6C51E2;
  width: 150px;
  padding: 17px 0;
  border-radius: 0 3px 3px 0;
}

@media screen and (max-width: 575px) {
  .subscribe_btn {
    width: 120px;
  }
}

/*================================================*/
/*footer*/
/*================================================*/
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 991px) {
  .footer .container {
    display: block;
  }
}

.footer_info_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 991px) {
  .footer_info_box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 575px) {
  .footer_info_box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.footer_link_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_select_box .select_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_select_box .select_list .select_item {
  height: 24px;
}

@media screen and (max-width: 991px) {
  .footer_select_box {
    display: none;
  }
}
/*# sourceMappingURL=all.css.map */