*{
	margin:0;
	padding:0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
header{
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #2d2d30;
}
header > nav{
	width: 1600px;
	height: 100px;
	margin: 0 auto;
}
header > nav > h1{
	display: block;
	width: 75px;
	height: 31px;
	background-image: url("../img/images/logo.png");
	position: absolute;
	top: 35px;
	left: 215px;
}
header > nav > div{
	float: right;
	line-height: 100px;
	padding-right: 187px;
}
header > nav > div > a{
	text-decoration: none;
	color: #cdcdcd;
	font-size: 10px;
	padding: 0 28px;
}
/*------------------------------------------------------*/
.banner{
	width: 100%;
	height: auto;
	padding-top: 40%;
	background-image: url("../img/images/banner.png");
	background-size: 100% auto;
	color: #fff;
	text-align: center;
	position: relative;

	transition: scale 0.3s;	
}
.banner > h3{	
	font-size: 2.5vw;
	position: absolute;
	top: 32%;
	left: 30%;
}
.banner > p{
	font-size: 1.75vw;
	position: absolute;
	top: 41%;
	left: 27%;
}
.banner > a{
	font-size: 0.75vw;
	position: absolute;
	color: #fff;
	text-decoration: none;
	top: 49%;
	left: 46%;
	padding: 0.5% 1.0%;
	border: 1px solid #fff;
	border-radius: 5px;
}
.banner > a:hover{
	transform: scale(1.2);
}
/*------------------------------------------------------*/
article{
	width: 100%;
	height: auto;
	overflow: hidden;
}
article > .services{
	width: 100%;
	height: 492px;
	background-color: #f7f7f7;
	margin: 0 auto;
	text-align: center;
}
article > .services > h3{
	font-size: 16px;
	color: #454545;
	padding-top: 80px;
	padding-bottom: 14px;
}
article > .services > p{
	font-size: 20px;
	color: #878787;
	padding-bottom: 46px;
}
article > .services > .boxes{
	width: 1172px;
	height: 309px;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
}
article > .services > .boxes > div{
	width: 269px;
	height: 309px;
}
article > .services > .boxes > div > h3{
	color: #454545;
	font-size: 14px;
	padding-top: 24px;
	padding-bottom: 19px;
}
article > .services > .boxes > div > p{
	color: #929292;
	font-size: 14px;
}
/*------------------------------------------------------*/
article > .product{
	width: 100%;
	height: 893px;
	background-color: #f1f1f1;
	margin: 0 auto;
	text-align: center;
}
article > .product > h3{
	font-size: 16px;
	padding-top: 90px;
	padding-bottom: 13px;
}
article > .product > span{
	display: block;
	font-size: 20px;
	color: #878686;
	padding-bottom: 49px;
}
article > .product > div{
	width: 736px;
	margin: 0 auto;
}
article > .product > div > p{
	padding-top: 49px;
	font-size: 14px;
	line-height: 25px;
	color: #8a8a8a;	
	padding-bottom: 37px;
}
article > .product > .btn{
	width: 328px;
	height: 132px;

	display: flex;
	justify-content: space-between;
	transition: scale 0.3s;
}
article > .product > .btn > div{
	width: 159px;
	height: 42px;
	line-height: 42px;
	border-radius: 5px;
}
article > .product > .btn > div > a{
	color: #fff;
	text-decoration: none;
}
article > .product > .btn > .startBtn{
	background-color: #47474d;
}
article > .product > .btn > .startBtn:hover{
	transform: scale(1.2);
}
article > .product > .btn > .viewBtn{
	background-color: #82c6bf;
}
article > .product > .btn > .viewBtn:hover{
	transform: scale(1.2);
}
/*------------------------------------------------------*/
aside{
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #2d2d30;
}
aside > .txt{
	width: 515px;
	height: 629px;
	float: left;
	padding-top: 95px;
	padding-left: 150px;

	transition: scale 0.3s;
}
aside > .txt > h3{
	font-size: 16px;
	color: #dadada;
	padding-bottom: 20px;
}
aside > .txt > span{
	font-size: 20px;
	color: #a4a4a4;
	line-height: 28px;
}
aside > .txt > p{
	display: block;
	width: 250px;
	font-size: 14px;
	color: #a4a4a4;
	padding-top: 36px;
	padding-bottom: 56px;
	line-height: 26px;
}
aside > .txt > a{
	font-size: 12px;
	color: #a4a4a4;
	display: block;
	width: 136px;
	text-decoration: none;
	padding: 3% 5%;
	border: 1px solid #a4a4a4;
	border-radius: 5px;
}
aside > .txt > a:hover{
	transform: scale(1.2);
}
aside > .pic{
	width: 870px;
	height: 450px;
	float: left;
	margin-top: 90px;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;

	transition: scale 0.3s;
}
aside > .pic > a{
	display: block;
	width: 286px;
	height: 230px;
	background-image: url("../img/images/pic.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}
aside > .pic > a.pic2{
	height: 219px;
	background-position: 0 -231px
}
aside > .pic > a.pic3{
	background-position: 0 -460px
}
aside > .pic > a.pic4{
	background-position: 0 -690px
}
aside > .pic > a.pic5{
	background-position: 0 -920px
}
aside > .pic > a.pic6{
	background-position: 0 -1150px
}
aside > .pic > a:hover{	
	transform: scale(1.5);
}
/*------------------------------------------------------*/
main{
	background-color: #f1f1f1;
}
main > .test{
	width: 74%;
	height: 807px;
	margin: 0 auto;
}
main > .test > h3{
	padding-top: 90px;
	font-size: 16px;
	color: #454545;
	text-align: center;
}
main > .test > span{
	display: block;
	font-size: 20px;
	color: #8f8e8e;
	text-align: center;
	margin-bottom: 40px;
}
main > .test > div{
	width: 33.8%;
	height: 550px;
	float: left;
}
main > .test > img{
	display: block;
	float: left;
}
main > .test > .lefttxt{
	margin-left: 13%;
	position: relative;
}
main > .test > .righttxt{
	margin-left: 1%;
	position: relative;
}
main .test h4{
	font-size: 14px;
	color: #454545;
}
main .test b{
	font-size: 16px;
	color: #878686;
}
main .test p{
	width: 100%;
	font-size: 1.25vw;
	color: #878686;
	padding: 27px;

	background-image: url("../img/images/txtBox-right.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
main > .test > .lefttxt > h4{
	padding-right: 20px;
	text-align: right;
}
main > .test > .lefttxt > .name1{
	padding-top: 45px;
}
main > .test > .lefttxt > .p2{
	margin-top: 140px;
	margin-bottom: 42px;

	background-image: url("../img/images/txtBox-left.png");
}
main > .test > .lefttxt > b{
	display: block;
	padding-right: 20px;
	text-align: right;
}
main > .test > .lefttxt > .name2{
	position: absolute;
	bottom: 95px;
	right: 0;
}
main > .test > .lefttxt > .b2{
	position: absolute;
	bottom: 80px;
	right: 0;
}
main > .test > .righttxt > .p1{
	margin-top: 26px;
	margin-bottom: 85px;
}
main > .test > .righttxt > .name3{
	padding-left: 10px;
	position: absolute;
	top: 240px;
	left: 0;
}
main > .test > .righttxt > b{
	padding-left: 10px;
	position: absolute;
	top: 252px;
	left: 0;
}
main > .test > .righttxt > .p3{
	margin-top: 151px;
	position: absolute;
	top: 255px;
	left: 0;
}