/*================================================*/
/*variable*/
/*================================================*/
$text_primary:#121212;
$text_secondary:#00000099;
$text_purple:#6C51E2;
$text_size_primary:16px;
$text_size_secondary:14px;
$text_family_secondary:'Raleway';
$bg_primary:#F1F0F8;
$bg_secondary:#6C51E2;
$bg_white:#fff;
$distance_primary:8px;